
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/

.flutter-plugins
.flutter-plugins-dependencies
.metadata

.idea/
.vscode/
*.iml

android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

firebase-debug.log
**/firebase-debug.log

.DS_Store
